NGSIM_YOLO_Model/dataset/
NGSIM_YOLO_Model/dataset_images/

NGSIM_YOLO_Model/test.py
NGSIM_YOLO_Model/test_model.py
NGSIM_YOLO_Model/extract_data.py

NGSIM_YOLO_Model/yolov8n.pt

NGSIM_YOLO_Model/*.yaml
NGSIM_YOLO_Model/*.avi